/* PrimaryButton.css */
.primary-button-animation {
  transition: all 0.6s ease;
}

.primary-button-animation:hover {
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 3;
  
}

@keyframes example {
  0% {
    background-image: linear-gradient(90deg, #ffd60c , #f15d27 , #f15d27 );
    transition-duration: 300s;
  }
  25% {
    background-image: linear-gradient(90deg, #f15d27 , #ffd60c, #ffd60c );
  }
  50% {
    background-image: linear-gradient(90deg, #ffd60c , #f15d27, #f15d27 );
   
  }
  100% {
    background-image: linear-gradient(90deg, #f15d27 , #ffd60c , #ffd60c );
   
  }
}
